body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 153, 255);
  }
  
  .dashboard-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: rgb(223, 132, 27);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1, h2 {
    color: #f9f4f4;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .btn {
    
    width: 100%;
    padding: 10px;
    margin-top: 40px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
  }
label{
  font-size: large;
}
.btn:hover{
    background-color: rgb(54, 180, 16);
    color:azure;
}
#resume{
  font-size: large;
}
  